<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="kumuluzee">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p -- %c -- %marker %m %X %ex %n"/>
        </Console>

        <File name="file_debug_app" fileName="logs/debug_app.log">
            <PatternLayout pattern="%d %p -- %c -- %marker %m %X %ex %n"/>
        </File>
        <File name="file_info_app" fileName="logs/app.log">
            <PatternLayout pattern="%d %p -- %c -- %marker %m %X %ex %n"/>
        </File>

        <File name="file_lpc" fileName="logs/lpc.log">
            <PatternLayout pattern="%d %p -- %c -- %marker %m %X %ex %n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="console" level="info"/>
            <AppenderRef ref="file_info_app" level="info"/>
            <AppenderRef ref="file_debug_app" level="debug"/>
        </Root>

        <Logger name="si.sunesis.interoperability" level="debug">
            <AppenderRef ref="file_lpc"/>
        </Logger>
    </Loggers>
</Configuration>